
body{
	background: red;
}
h1{
	text-align: center;
	font-size: 70px;
	font-family: 'Caveat', cursive;
}
.reset{
	margin:20px auto; 
	margin-left: 45%; 
}
.column{
	margin-bottom:;
}
#container{
	margin: auto;
	width: 960px;
	border: solid 10px yellow;
	border-radius: 10px;
}
.squares{
	width: 50px;
	height: 50px;
	margin:0px;
	outline:1px solid;
	display: inline-block;
	background: #fff;
	border:none;
}
